# Environment Variables
.env
*.env

# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Firebase & APK Build Artifacts
.firebase/
*.apk

# IDE & Build
.idea/
.vscode/
*.iml
.kotlin/
android/.kotlin/
*.log
quickserve_log.txt
